*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(15, 15, 15);
}

.container{
    max-width: 1550px;
    margin:  0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    display: flex;
}

.aside{
    padding: 10px 0px 20px 0px;
    width: 40%;
    transition: all 0.4s;
    height: 710px;
    margin-top: 40px;
    overflow-y: scroll;
    color: #fff;
    &::-webkit-scrollbar{
        width: 5px;
        
    }
    &::-webkit-scrollbar-track{
        background-color: transparent;
        opacity: 0.2;
    }
    &::-webkit-scrollbar-thumb{
        background-color: rgb(97, 95, 95);
        border-radius: 30px;
    }
    .top{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px;
        position: fixed;
        background-color: rgb(15, 15, 15);
        width: 40%;
        top: 0;

        input{
            width: 100%;
            padding: 10px;
            border: none;
            outline: none;
            background-color: #181818;
            border-radius: 5px;
            color: #fff;
        }
        
    }

    .profile{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        transition: all 0.2s;
        padding: 10px;

        &:hover{
            background-color: rgba($color: transparent, $alpha: 0.1);
        }

        .profile-data{
            h4{
                color: #707579;
                line-height: 24px;
                font-size: 14px;
                font-weight: normal;
                
            }
        }
        
        .profile-info{

            display: flex;
            align-items: center;
            gap: 15px;
            .img-wrapper{
                max-width: 48px;
                object-fit: cover;
                border-radius: 50%;
                height: 48px;
            }
            img{
                max-width: 48px;
                object-fit: cover;
                border-radius: 50%;
                height: 48px;
            }
        }
    }
}



.message{
    margin-top: 5px;
    color: #707579;
}

.photo{
    color: rgb(13, 166, 255);
}

.burger{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.name{
    font-weight: bolder;
    font-size: 17px;
    letter-spacing: 0.5px;
}

.white{
    color: white;

}




.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    transition: 0.2s; 
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #fff;
        transition: 0.3s;
    &:hover{
        background-color: #181818;
    }
}
  
#main {
    transition: margin-left .5s;
    padding: 20px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.picture{
    max-width: 48px;
    object-fit: cover;
    border-radius: 50%;
    height: 48px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding:  15px;
}

.info{
    background-color: rgb(6, 62, 126);
}

.arrow{
    transform: rotate(270deg);

}

.closebtn{
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.category{
    display: flex;
    align-items: center;
    gap: 20px;
}


.main{
    position: relative;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(40, 43, 43);
    .text{   
        padding:5px 10px;
        border-radius: 12px;
        background-color:rgba($color: #e5e5e5, $alpha: 0.3);
        color: #fff;
        
    }

    svg{
        transition: all 0.2s;
        &:hover{
            fill: white;
        }
    }

    
}






.tabcontent {
    display: none;
    color: white;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(15, 15, 15);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: black;

    input{
        width: 100%;
        padding: 15px 100px 15px 50px;
        outline: none;
        background-color:rgb(15, 15, 15) ;
        border: none;
        color: white;
    }

}

.attachment{
    position: absolute;
    left: 7px;
    top: 7px;
    transform: rotate(140deg);
}

.emodji{
    position: absolute;
    right: 57px;
    top: 7px;
}

.send{
    position: absolute;
    right: 9px;
    top: 9px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 1s;

    &:hover{
        transform: rotate(-90deg);
    }
}

.icons{
    display: flex;
    align-items: center;
    gap: 10px;
}

#demo{
    display: none;
    position: absolute;
    right: 50px;
    padding: 10px;
    bottom: 75px;
    border-radius: 12px;
    background-color: #181818;
}